#login
    {
    margin-top: 5%;
    margin-right: 0%;
    margin-left: 0%;
    box-shadow: 0 0 1px #ccc;
    }


body
 {
    background: #fffeea;
    font-family: vardana;
    color:black;
    padding: 0px
 }



